
.navbar{
    top: 1180px;
    position: absolute;
    
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-direction: row;
    width: 100%;
  }

  .navbarIcon{
    font-size: 30px;
    color: black;
  }