/* Reset and base styles */
@import url("https://fonts.googleapis.com/css?family=ADLaM+Display:400|Inter:400");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html, body {
  margin: 0;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5f1b5;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c5f1b5;
  height: auto;
  width: 393px;
}


.small-logo-instance {
  margin-top: 20px;
  margin-bottom: 30px;
}

.text-wrapper-2 {
  color: #346e3a;
  font-family: "ADLaM Display", Helvetica;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
}

.name, .frame-wrapper, .div-wrapper, .name-2, .name-3, .name-4, .name-5 {
  background-color: #fbffe1;
  border-radius: 20px;
  height: 45px;
  width: 325px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-wrapper-3 {
  color: #346e3a;
  font-family: "Inter", Helvetica;
  font-size: 16px;
}

.small-logo {
  height: 44px;
  width: 178px;
}

.small-logo .overlap-group {
  height: 44px;
  position: relative;
}

.small-logo .your-paragraph-text {
  height: 44px;
  width: 55px;
  object-fit: cover;
  position: absolute;
  left: 100%;
  top: -5%;
}

.small-logo .text-wrapper {
  color: #346e3a;
  font-family: "ADLaM Display", Helvetica;
  font-size: 28px;
  position: absolute;
  left: 30%;
  top: 1px;
}

.navbar{
    margin-top: 28%;
    position: absolute;
    top: 680px;
    left: 38%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
    width: 110%;
  }

  .navbarIcon{
    font-size: 30px;
    color: black;
  }

  .div{
    margin-top: 0%;
  }

  @media screen and (min-height: 900px) {
    .navbar {
      top: 600px;
    }
  }