
.navbar{
  margin-top: 2%;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  flex-direction: row;
  width: 100%;
}

.navbarIcon{
  font-size: 30px;
  color: black;
}